// Définition de toutes les couleurs utilisées lors de la conception
:root {
    --jaune1: #FFFF00;
    --jaune1: #F8F184;
    --bleue: #19587D;
    --rouge: #B11213;
    --noir1: #0D0E09;
    --gris: #C4C4C4;
    --noir2: #000000;
    --blanc: #FFFFFF;
    --gradient-bleue: linear-gradient(to right, #fdfdfd7e 10%, #146696c2 60%);
    --gradient-rouge: linear-gradient(to right, rgba(237, 222, 223, 0.349) 40%, rgba(137, 0, 9, 0.356) 100%);
    --gradient-orange: linear-gradient(to right, rgba(237, 222, 223, 0.349) 20%, rgba(163, 54, 4, 0.356) 100%);
}